<div *ngFor="let patient of cleansedPatientData">
  <arxrf-cleansed-pres-section
    [patientData]="patient"
  ></arxrf-cleansed-pres-section>
</div>
<div *ngFor="let patient of cleansedPatientData; let i = index">
  <arxrf-cleansed-health-section
    [payloadIndex]="i"
    [patientData]="patient"
  ></arxrf-cleansed-health-section>
</div>

<div class="speciality__disclaimer mt-1">
  <h2>Pricing & Delivery Agreement</h2>

  <p class="mt-4 terms">
    We use all known insurance information to provide an estimated price. This
    is not a guarantee, and we’ll notify you of any pricing change. You are
    responsible for any amount owed in addition to the estimated amount. You
    agree to accept delivery of your prescription(s) on the date indicated
    above.
  </p>

  <div class="check-box">
    <input
      type="checkbox"
      id="speciality-disclaimer"
      name="{{ speciality.cleansedTermsAndConditions }}"
      (click)="confirmAgreement($event)"
      [(ngModel)]="speciality.cleansedTermsAndConditions"
    />

    <label for="speciality-disclaimer">
      <span class="check"></span>
      <span
        >I have read and agree to the above pricing & delivery agreement.</span
      >
    </label>
  </div>

  <div class="" *ngIf="checkoutService.error_state.cleansed">
    <p class="input__error-text" *ngIf="!speciality.cleansedTermsAndConditions">
      You must agree to the pricing & delivery agreement to continue
    </p>
  </div>
</div>
