$xs-screen: 320px;
$sm-screen: 480px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
.username-password{
    padding-top: 30px;
    .h1__page-title{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .input__contain{
        // background: #f7f7f7;
    }
    .info-warn{
        margin-bottom: 30px;
        h4{
            display: inline-block;
        }
        .icon__info{
            color:#01728E;
        }
        &>div>div {
            display: flex;
        }
    }
    .username-section, .password-section{
        margin-bottom:30px;
        .message {
            margin-top: 20px;
            margin-bottom: 25px;
        }
    }
    .btn-section{
        .btn__pair{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .secondary{
                order: 2;
            }
            a:not(.secondary){
                order: 1;
            }   
            @media screen and (min-width: $md-screen) {
                flex-direction: row;
                .secondary{
                    order: 1;
                }
                a:not(.secondary){
                    order: 2;
                } 
            }
        }
    }
}

.form__input .input__title span {
    text-transform: none;
  }

input[type=checkbox]:focus + label{
    outline: #4D90FE solid 2px;
    // outline-style: auto;
  }

  .check-box label {
      cursor: pointer;
  }

  @media screen and (min-width: $xs-screen) and (max-width: 767px){
    .btnPairAlignment {
        width: 100%;
    }
    .cancelLink {
        margin-top: 15px;
    }
  }

a.btn_primary:hover {
    color: #fff;
}

.cancelLink:hover{
    color: #01728E;
}
.cancelLink{
    width: 80px;
    cursor: pointer;
}
.minimal{
    background: #01728e !important;
    color: #ffffff !important;
}
.info-color{
    color: #fff;
}

.banner-font{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #ffffff;
    width:90%;
}
