<arxrf-loader [show]="loader" loaderOverlay="true"></arxrf-loader>
<div class="container username-password">
  <div class="row">
    <h1 class="col-md-12 h1__page-title">Username and Password</h1>
  </div>
  <arxrf-message></arxrf-message>
  <!-- Commented for Login Rollback -->
  <!-- <div *ngIf='displayInfoBanner' class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="alert alert__info minimal">
        <span class="alert__text-contain">
          <span class="icon icon__info">
        <svg class='info-color' alt="">
          <use xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__info"></use>
        </svg>
      </span>
      <h4 class='banner-font'>For your username below, enter an email address. It will be used as your username for your AllianceRx Walgreens Prime and Walgreens accounts.</h4>
      </span>
    </div>
    </div>
  </div> -->
  <!-- UnCommented for Login Rollback -->
  <div class="row info-warn" *ngIf='!appContext.isSpsite'>
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div>
        <span class="icon icon__info mr-2">
          <svg alt="">
            <use
              xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__info"
            ></use>
          </svg>
        </span>
        <h4>
          Changes to your account will also update your information on
          Walgreens.com
        </h4>
      </div>
    </div>
  </div>
  <form [formGroup]="userDetailForm" novalidate>
    <section class="username-section">
      <div class="row">
        <h3 class="col-md-12 col-xs-12 col-sm-12">Email address</h3>
      </div>
      <div class="row">
        <span class="col-md-8 col-xs-12 col-sm-12 message"
          >Your email address is your username. Enter an email address that will
          be used for all future communications from AllianceRx Walgreens
          Prime.</span
        >
      </div>
      <div class="row">
        <div class="form__input col-md-6 col-xs-12 col-sm-12">
          <span
            class="input__contain"
          >
            <input
              class="input__focus"
              [ngClass]="{
                input__error:
                  emailErrorMessage
              }"
              autocomplete="new-username"
              type="text"
              formControlName="username"
            />
            <label class="input__title">
              <span>Enter your username</span>
            </label>
          </span>
          <span
            *ngIf="emailErrorMessage"
            class="input__error-text"
            [innerHTML]="emailErrorMessage"
          ></span>
        </div>
      </div>
    </section>
    <section class="password-section">
      <div class="row">
        <h3 class="col-md-12 col-xs-12 col-sm-12">Password</h3>
      </div>

      <div class="row">
        <div class="form__input col-md-6 col-xs-12 col-sm-12 mt-3">
          <span
            class="input__contain"
            >
            <input
              class="input__focus"
              [ngClass]="{
                input__error:
                  passwordErrorMessage
              }"
              autocomplete="new-password"
              [type]="passwordType"
              formControlName="password"
            />
            <label class="input__title">
              <span>Enter new password</span>
            </label>
          </span>
          <span
            *ngIf="passwordErrorMessage"
            class="input__error-text"
            >{{ passwordErrorMessage }}</span
          >
        </div>
      </div>
      <div class="check-box mt-3">
        <input
          type="checkbox"
          id="showPassword"
          tabindex="0"
          formControlName="showPassword"
          (change)="displayPassword($event)"
        />
        <label for="showPassword">
          <span class="check"></span>
          <span>Show password</span>
        </label>
      </div>
    </section>

    <div class="row no-gutters btn-section">
      <div class="btn__pair btnPairAlignment">
        <div
          [routerLink]="[routes.securityIformation.absoluteRoute]"
          class="cancelLink"
        >
          <strong> Cancel </strong>
        </div>

        <button
          type="button"
          class="btn btn_primary"
          (click)="checkEmail()"
        >
          Save changes
        </button>
      </div>
    </div>
  </form>
</div>
