.pd-0 {
  padding: 0px !important;
}

.buyout_width {
  width: 100%;
}

.mt-5 {
  margin-top: 5px;
}
.bannerContent {
  vertical-align: super;
  display: inline;
}
.msg-text {
  vertical-align: middle;
}
.cu-pointer {
  cursor: pointer;
}
.arrowIcon {
  width: 40px;
  height: 40px;
  top: 8px;
  cursor: pointer;
}
