$font_color_dark: #404040;
$white_color: #fff;
$black_color: #000;

$themes: (
  default: (
    header_nav_bg: #78278b,
    header_nav_mobile_bg: #fefefe,
    header_nav_link_color: #fff,
    header_nav_link_mobile_color: #01728e,
    header_nav_link_hover: #2774a6,
    header_sub_nav_link_color: #000000,
    header_sub_nav_bg: #ecf5fa,
    lean-header-bg: #ffffff,
    lean-header-link: #00819e,
    footer_bg: #78278b,
    footer_fg: #fff,
    color_neutral: #f7f7f7,
    color_secondary: #2774a6,
    btn_primary: #02a0c0,
    btn_primary_hover: #01728e,
    btn_filter_bg: #09423c,
    btn_filter_color: #fff,
    btn_filter_bg_hover: #0B514C,
    white_color: #ffffff,
    black_color: #404040,

    alert_error_bg: #e31837,
    alert_error_txt: #ffffff,
    alert_error_minimal: #e31837,
    alert_success_bg: #178669,
    alert_success_txt: #ffffff,
    alert_success_minimal: #178669,
    alert_warn_bg: #fcb44c,
    alert_warn_txt: #404040,
    alert_warn_minimal: #9C5C02,
    alert_info_bg: #01728e,
    alert_info_txt: #ffffff,
    alert_info_minimal: #404040,
    alert_info_icon: #01728e,

    forgot_user_font_size: 14px,
    forgot_user_font_family: 'open_sansregular',
    registration_arx_terms: #1a7eac,
    accoun_home_tabs_color: #01728E,
    personal_info_remove_item_color: #1a7eac,
    checkbox_col_primary: #02a0c0,
    checkbox_col_secondary: #14A381,
    disabled_default: #e4e4e4,
    disabled_span: #8a8a8a,
    radio_border: #8a8a8a,
    radio_bg: #02a0c0,
    radio_bg_before: #cfcfcf,
    input_error: #e31837,
    input_popper: #00a2c7,
    edit_add_address_bgcolor: #f7f7f7,

    h1_font_size:  1.75rem,
    h2_font_size:  1.563rem,
    h3_font_size:  1.375rem,
    h4_font_size:  1.125rem,
    h5_font_size:  1rem,
    h6_font_size:  0.875rem,
    modal_h2_font_size: 1.75rem,
    termsModalContainer_p_size: 16px,
    h1LightFontFamily: 'open_sansregular',
    heavy_font_famliy: 'open_sansbold',

    btn_font_size: 1.166em,
    btn_transaction_primary: #007b31,
    btn_light: #d0ede6,
    btn_light_hover: #addfd3,
    btn_font_color: $font_color_dark,
    btn_request_refill_light :#009a3d,
    fm_home_btn_font_size: 16px,

    tab_bg_color: #f7f7f7,
    btn_disabled_bg: #e4e4e4,
    btn_disabled_color: #8a8a8a,
    btn_toggle_bg: #cfcfcf,
    btn_toggle_on_bg: #01728e,
    btn_neutral_bg: rgba(0, 0, 0, 0.1),
    btn_neutral_color: #6d6e71,

    notification_inbox_thead_bg: #E4E4E4,
    progress_bar_bg: #01728e,
    progress_bar_text_color: #01728e,



    tooltip_icon_color: #01728e,
    tooltip_bg_color: #1a7eac,
    tooltip_fg_color: #ffffff,

    userinfo_color: #631278,

    footer_hr_bg: rgba(255, 255, 255, 0.21),
    footer_p_font_size: 14px,
    footer_h3_font_size: 18px,
    footer_li_font_size: 16px,

    hamburger_font_size: 13px,
    hamburger_color: #404040
  ),
  dark: (
    header_nav_bg: darken(#78278b, 10%),
    header_nav_mobile_bg: darken(#fefefe, 10%),
    header_nav_link_color: #fff,
    header_nav_link_mobile_color: darken(#01728e, 10%),
    header_nav_link_hover: #2774a6,
    header_sub_nav_link_color: #000000,
    header_sub_nav_bg: #ecf5fa,
    lean-header-bg: darken(#78278b, 10%),
    lean-header-link: darken(#f7f7f7, 10%),
    footer_bg: darken(#78278b, 10%),
    footer_fg: #fff,
    color_neutral: #f7f7f7,
    color_secondary: darken(#2774a6, 10%),
    btn_primary: darken(#02a0c0, 10%),
    btn_primary_hover: darken(#01728e, 10%),
    btn_filter_bg: darken(#09423c, 10%),
    btn_filter_color: darken(#fff, 10%),
    btn_filter_bg_hover: darken(#0B514C, 10%),
    white_color: #ffffff,
    black_color: #404040,
    alert_error_bg: darken(#e31837,10%),
    alert_error_txt: darken(#ffffff,10%),
    alert_error_minimal: darken(#e31837,10%),
    alert_success_bg: darken(#178669,10%),
    alert_success_txt: darken(#ffffff,10%),
    alert_success_minimal: darken(#178669,10%),
    alert_warn_bg: darken(#fcb44c,10%),
    alert_warn_txt: darken(#404040,10%),
    alert_warn_minimal: darken(#9C5C02,10%),
    alert_info_bg: darken(#01728e,10%),
    alert_info_txt: darken(#ffffff,10%),
    alert_info_minimal: darken(#404040,10%),
    alert_info_icon: darken(#01728e,10%),
    forgot_user_font_size: 14px,
    forgot_user_font_family: 'open_sansregular',
    registration_arx_terms: darken(#1a7eac, 10%),
    accoun_home_tabs_color: darken(#01728E, 10%),

    personal_info_remove_item_color: darken(#1a7eac, 10%),
    checkbox_col_primary: darken(#02a0c0, 10%),
    checkbox_col_secondary: darken(#14A381, 10%),
    disabled_default: darken(#e4e4e4, 10%),
    disabled_span: darken(#8a8a8a, 10%),
    radio_border: darken(#8a8a8a, 10%),
    radio_bg: darken(#02a0c0, 10%),
    radio_bg_before: darken(#cfcfcf, 10%),
    input_error: darken(#e31837, 10%),
    edit_add_address_bgcolor: #f4f1ef,

    h1_font_size:  1.75rem,
    h2_font_size:  1.563rem,
    h3_font_size:  1.375rem,
    h4_font_size:  1.125rem,
    h5_font_size:  1rem,
    h6_font_size:  0.875rem,
    h1LightFontFamily: 'open_sansregular',
    heavy_font_famliy: 'open_sansbold',

    btn_font_size: 1.166em,
    btn_transaction_primary: #007b31,
    btn_light: #d0ede6,
    btn_light_hover: #addfd3,
    btn_font_color: $font_color_dark,
    btn_request_refill_light :#009a3d,
    fm_home_btn_font_size: 16px,


    tab_bg_color: #f7f7f7,


    btn_disabled_bg: #e4e4e4,
    btn_disabled_color: #8a8a8a,
    btn_toggle_bg: #cfcfcf,
    btn_toggle_on_bg: #01728e,
    btn_neutral_bg: #f7f7f7,
    btn_neutral_color: #1991ba,

    notification_inbox_thead_bg: #E4E4E4,
    progress_bar_bg: darken(#01728e, 30%),
    progress_bar_text_color: darken(#01728e, 30%),

    tooltip_icon_color: #01728e,
    tooltip_bg_color: #1a7eac,
    tooltip_fg_color: #ffffff,

    userinfo_color: #631278,

    footer_hr_bg: rgba(255, 255, 255, 0.21),
    footer_p_font_size: 14px,
    footer_h3_font_size: 18px,
    footer_li_font_size: 16px,

    hamburger_font_size: 13px,
    hamburger_color: #404040
  ),

  light: (
    header_nav_bg: #216788,
    header_nav_mobile_bg: #dad5db,
    header_nav_link_color: #ffffff,
    header_nav_link_mobile_color: #01728e,
    header_nav_link_hover: #000000,
    header_sub_nav_link_color: #000000,
    header_sub_nav_bg: #329ccd,
    lean-header-bg: #216788,
    lean-header-link: #f7f7f7,
    footer_bg: #216788,
    footer_fg: #ffffff,
    color_neutral: #E0E0CA,
    color_secondary:#2f617a,
    btn_primary: #446070,
    btn_primary_hover: #022933,
    btn_filter_bg: #07d3be,
    btn_filter_color: #0c0c0c,
    btn_filter_bg_hover: #0B514C,
    white_color: #f3f2f2,
    black_color: #404040,

    alert_error_bg: #70242f,
    alert_error_txt: #ffffff,
    alert_error_minimal: #70242f,
    alert_success_bg: #245510,
    alert_success_txt: #ffffff,
    alert_success_minimal: #245510,
    alert_warn_bg: #a82808e5,
    alert_warn_txt: #fff,
    alert_warn_minimal: #8a5c1b,
    alert_info_bg: #0d4c5c,
    alert_info_txt: #ffffff,
    alert_info_minimal: #0d4c5c,
    alert_info_icon: #01728e,

    forgot_user_font_size: 14px,
    forgot_user_font_family: 'open_sansregular',
    registration_arx_terms: #1d6f95,
    accoun_home_tabs_color: rgb(11, 54, 65),
    personal_info_remove_item_color: #104c68,
    checkbox_col_primary: #02a0c0,
    checkbox_col_secondary: #14A381,
    disabled_default: #e4e4e4,
    disabled_span: #8a8a8a,
    radio_border: #8a8a8a,
    radio_bg: #02a0c0,
    radio_bg_before: #cfcfcf,
    input_error: #e31837,
    edit_add_address_bgcolor:#E0E0CA,

    h1_font_size:  1.75rem,
    h2_font_size:  1.563rem,
    h3_font_size:  1.375rem,
    h4_font_size:  1.125rem,
    h5_font_size:  1rem,
    h6_font_size:  0.875rem,
    h1LightFontFamily: 'open_sansregular',
    heavy_font_famliy: 'open_sansbold',

    btn_font_size: 1.166em,
    btn_transaction_primary: #007b31,
    btn_light: #d0ede6,
    btn_light_hover: #addfd3,
    btn_font_color: $font_color_dark,
    btn_request_refill_light :#009a3d,
    fm_home_btn_font_size: 16px,


    tab_bg_color: #E0E0CA,
    btn_disabled_bg: #e4e4e4,
    btn_disabled_color: #8a8a8a,
    btn_toggle_bg: #afa2a2,
    btn_toggle_on_bg: #295661,
    btn_neutral_bg: #f7f7f7,
    btn_neutral_color: #1991ba,

    notification_inbox_thead_bg: #E4E4E4,
    progress_bar_bg: #5feb0e,
    progress_bar_text_color: #8e0153,

    tooltip_icon_color: #3ea3bc,
    tooltip_bg_color: #3ea3bc,
    tooltip_fg_color: #ffffff,

    userinfo_color: #143e52,


    footer_hr_bg: rgba(255, 255, 255, 0.21),
    footer_p_font_size: 14px,
    footer_h3_font_size: 18px,
    footer_li_font_size: 16px,

    hamburger_font_size: 13px,
    hamburger_color: #404040,

    open_sans: 'open_sansregular',
    open_sans-bold: 'open_sansbold'
  )
);
