<!--patient health information-->
<div class="patient__healthinfo">
  <h2>
    Please confirm your health information for
    {{
      (((speciality?.patientsPayload)[this.payloadIndex]?.referrals)[0]
        ?.boxDetails.shippingInfo.deliveryAddr)[0].firstName | titlecase
    }}
  </h2>
  <p *ngIf="!appContext.isSpsite">
    (Non-Walgreens prescriptions, over-the-counter medications, herbs &
    supplements)
  </p>

  <p *ngIf="appContext.isSpsite">
    (Prescriptions from other pharmacies, over-the-counter medications, herbs &
    supplements)
  </p>

  <arxrf-loader
    [show]="loaderState"
    [loaderOverlay]="loaderOverlay"
  ></arxrf-loader>

  <div class="patient__healthinfo-medication">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <p class="text-danger" *ngIf="healthInfoServiceErr.addMedication">
          {{ healthInfoServiceErr.errMessage }}
        </p>
        <h3>Additional medications you are taking:</h3>

        <div
          class="check-box mt-2"
          *ngIf="
            healthInfo == undefined ||
            !healthInfo.additionalMeds ||
            healthInfo.additionalMeds.length == 0
          "
        >
          <input
            type="checkbox"
            id="no_additionalMedication-confirm"
            name="no_additionalMedication-confirm_{{ scriptMedId }}"
            (change)="speciality.savePatientContext(payloadIndex, $event)"
            [(ngModel)]="
              speciality.patientsPayload[payloadIndex].noadditionalMedication
            "
          />

          <label for="no_additionalMedication-confirm">
            <span class="check"></span>
            <span>I have no known Additional Medication.</span>
          </label>
        </div>

        <div class="row" *ngIf="checkoutService.error_state.cleansed">
          <p
            class="input__error-text col-12"
            *ngIf="
              (healthInfo == undefined ||
                !healthInfo.additionalMeds ||
                healthInfo.additionalMeds.length == 0) &&
              !speciality.patientsPayload[payloadIndex].noadditionalMedication
            "
          >
            Please update or confirm to continue.
          </p>
        </div>

        <ul
          class="patient__healthinfo-list"
          *ngIf="
            healthInfo != undefined && healthInfo.additionalMeds != undefined
          "
        >
          <li
            *ngFor="
              let medication of healthInfo.additionalMeds;
              let ci = index
            "
          >
            <a
              href="javascript:void(0);"
              (click)="deleteHealthItem(medication.drugId, 'Medications', ci)"
            >
              <span class="icon icon__dismiss">
                <svg>
                  <use
                    xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__dismiss"
                  ></use>
                </svg>
              </span>
            </a>

            <p>{{ medication.drugName }}</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5 col-lg-4 addMed_but">
        <button
          class="btn btn_primary"
          type="button"
          (click)="isShowMedication()"
        >
          Add medication
        </button>
      </div>

      <arxrf-checkout-drugsearch
        [show]="showMedicationsSearch"
        heading="medications"
        subHeading="Add vitamins, herbs, supliments, over-the-counter medications, and prescriptions from other pharmacies."
        inputPrompt="Enter a medication"
        type="Medications"
        [showDelete]="true"
        (close)="closeMedications($event)"
        (update)="updateMedications($event)"
      ></arxrf-checkout-drugsearch>
    </div>
  </div>

  <div class="patient__healthinfo-allergies">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <p class="text-danger" *ngIf="healthInfoServiceErr.drugAllergies">
          {{ healthInfoServiceErr.errMessage }}
        </p>
        <h3>Known drug allergies:</h3>

        <div
          class="check-box mt-2"
          *ngIf="
            healthInfo == undefined ||
            !healthInfo.drugAllergies ||
            healthInfo.drugAllergies.length == 0
          "
        >
          <input
            type="checkbox"
            id="no_drugAllergies-confirm"
            name="no_drugAllergies-confirm_{{ scriptMedId }}"
            (change)="speciality.savePatientContext(payloadIndex)"
            (click)="noDrugInfo($event)"
            [(ngModel)]="
              speciality.patientsPayload[payloadIndex].nodrugAllergies
            "
          />

          <label for="no_drugAllergies-confirm">
            <span class="check"></span>
            <span>I have no known Drug Allergies.</span>
          </label>
        </div>

        <div class="row" *ngIf="checkoutService.error_state.cleansed">
          <p
            class="input__error-text col-12"
            *ngIf="
              (healthInfo == undefined ||
                !healthInfo.drugAllergies ||
                healthInfo.drugAllergies.length == 0) &&
              !speciality.patientsPayload[payloadIndex].nodrugAllergies
            "
          >
            Please update or confirm to continue.
          </p>
        </div>

        <ul
          class="patient__healthinfo-list"
          *ngIf="
            healthInfo != undefined && healthInfo.drugAllergies != undefined
          "
        >
          <li
            *ngFor="let allergie of healthInfo.drugAllergies; let ci = index"
          >
            <a
              href="javascript:void(0);"
              (click)="deleteHealthItem(allergie, 'Drug Allergies', ci)"
            >
              <span class="icon icon__dismiss">
                <svg>
                  <use
                    xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__dismiss"
                  ></use>
                </svg>
              </span>
            </a>

            <p>{{ allergie.drugName }}{{ allergie.allergy }}</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5 col-lg-4 addAllergy_btn">
        <button
          class="btn btn_primary"
          type="button"
          (click)="showAllergiesSearch = true; addDrug()"
        >
          Add drug allergy
        </button>
      </div>

      <arxrf-checkout-drugsearch
        [show]="showAllergiesSearch"
        heading="allergies"
        inputPrompt="Enter an allergy"
        subHeading="Add any known drug allergies."
        type="Drug Allergies"
        [showDelete]="true"
        (close)="closeAllergies($event)"
        (update)="updateAllergies($event)"
      ></arxrf-checkout-drugsearch>
    </div>
  </div>

  <div class="patient__healthinfo-conditions">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <p class="text-danger" *ngIf="healthInfoServiceErr.healthConditions">
          {{ healthInfoServiceErr.errMessage }}
        </p>
        <h3>All Known health conditions:</h3>
        <div
          class="check-box mt-2"
          *ngIf="
            speciality.patientsPayload[payloadIndex] == undefined ||
            !healthInfo?.healthConditions ||
            healthInfo?.healthConditions.length == 0
          "
        >
          <input
            type="checkbox"
            id="no_healthConditions-confirm"
            name="no_healthConditions-confirm_{{ scriptMedId }}"
            (change)="
              healthConditionCheckbox($event);
              speciality.savePatientContext(payloadIndex)
            "
            [(ngModel)]="
              speciality.patientsPayload[payloadIndex].nohealthConditions
            "
          />

          <label for="no_healthConditions-confirm">
            <span class="check"></span>
            <span>I have no known Health Conditions.</span>
          </label>
        </div>

        <div class="row" *ngIf="checkoutService.error_state.cleansed">
          <p
            class="input__error-text col-12"
            *ngIf="
              (healthInfo == undefined ||
                !healthInfo?.healthConditions ||
                healthInfo?.healthConditions.length == 0) &&
              !(speciality?.patientsPayload)[payloadIndex]?.nohealthConditions
            "
          >
            Please update or confirm to continue.
          </p>
        </div>

        <ul
          class="patient__healthinfo-list"
          *ngIf="
            healthInfo != undefined &&
            healthInfo?.healthConditions != undefined &&
            healthInfo.healthConditions.length > 0
          "
        >
          <li
            *ngFor="
              let condition of healthInfo?.healthConditions;
              let ci;
              of: index
            "
          >
            <a
              href="javascript:void(0);"
              (click)="
                deleteHealthItem(
                  condition.healthConditionCd
                    ? condition.healthConditionCd
                    : condition.drugId,
                  'Health Conditions',
                  ci
                )
              "
            >
              <span class="icon icon__dismiss">
                <svg>
                  <use
                    xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__dismiss"
                  ></use>
                </svg>
              </span>
            </a>
            <p>{{ condition.drugName }}{{ condition.healthCondition }}</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5 col-lg-4 addHealth_btn">
        <button
          class="btn btn_primary"
          type="button"
          (click)="showConditionsSearch = true; addHealth()"
        >
          Add health condition
        </button>
      </div>

      <arxrf-checkout-drugsearch
        [show]="showConditionsSearch"
        heading="health conditions"
        inputPrompt="Enter a health condition"
        subHeading="Add any known drug health conditions."
        type="Health Conditions"
        [showDelete]="true"
        (close)="closeConditions($event)"
        (update)="updateConditions($event)"
      ></arxrf-checkout-drugsearch>
    </div>
  </div>

  <div class="check-box mt-5">
    <input
      type="checkbox"
      id="health__info-confirm"
      name="health__info-confirm_{{ scriptMedId }}"
      [(ngModel)]="speciality.patientsPayload[payloadIndex].healthInfoChecked"
      (click)="confirmInfo($event)"
    />
    <label for="health__info-confirm">
      <span class="check"></span>
      <span>I confirm the above information is accurate.</span>
    </label>
  </div>

  <div class="row" *ngIf="checkoutService.error_state.cleansed">
    <p
      *ngIf="!speciality.patientsPayload[payloadIndex].healthInfoChecked"
      class="input__error-text col-12"
    >
      {{ healthinfo_error }}
    </p>
  </div>
</div>

<!--patient clinical review-->
<div class="patient__clinicalreview">
  <h3>
    Clinical Review for
    {{
      (((speciality?.patientsPayload)[this.payloadIndex]?.referrals)[0]
        ?.boxDetails.shippingInfo.deliveryAddr)[0].firstName | titlecase
    }}
  </h3>

  <div class="row mt-4 pb-2">
    <div class="col-md-7 col-lg-8 pb-2">
      <h4>Do you have any questions for the Pharmacy?</h4>
      <p>(E.g. billing, insurance, missing prescriptions)</p>
    </div>
    <div class="col-md-5 col-lg-4 row">
      <div class="btn__radio col-6">
        <input
          type="radio"
          name="cr__assistance_{{ scriptMedId }}"
          [(ngModel)]="
            speciality.patientsPayload[payloadIndex].clinical_review.assistance
          "
          value="yes"
          (change)="speciality.savePatientContext(payloadIndex)"
          (click)="onComboClick('need_assistance', 'Yes')"
        />
        <label>
          <span class="radio"></span>
          <span>Yes</span>
        </label>
      </div>

      <div class="btn__radio col-6">
        <input
          type="radio"
          name="cr__assistance_{{ scriptMedId }}"
          [(ngModel)]="
            speciality.patientsPayload[payloadIndex].clinical_review.assistance
          "
          value="no"
          (change)="speciality.savePatientContext(payloadIndex)"
          (click)="onComboClick('need_assistance', 'No')"
        />
        <label>
          <span class="radio"></span>
          <span>No</span>
        </label>
      </div>
    </div>
    <div class="col-md-12">
      <div
        class=""
        *ngIf="
          speciality.patientsPayload[payloadIndex].clinical_review.assistance ==
          'yes'
        "
      >
        <p>
          Please select an item that best describes your questions. We'll
          contact you by the end of the next business day. Or, call us directly
          at
          <span class="d-none d-sm-inline-block"
            >{{ appContext.specialityContact }}.</span
          >
          <span class="d-sm-none">
            <a
              title="{{ appContext.specialityContact }}"
              href="tel:{{ appContext.specialityContact }}"
              >{{ appContext.specialityContact }}</a
            >.</span
          >
        </p>
      </div>

      <div
        class="assistance_info-container col-12"
        *ngIf="
          speciality.patientsPayload[payloadIndex].clinical_review.assistance ==
          'yes'
        "
      >
        <div class="mt-2">
          <p>
            <strong>Insurance/Billing</strong>
          </p>
          <div class="check-box">
            <input
              type="checkbox"
              id="insuranceBillQtn"
              name="insuranceBillQtn_{{ scriptMedId }}"
              [(ngModel)]="
                speciality.patientsPayload[payloadIndex].callMeReasons
                  .insuranceBillQtn
              "
              (change)="speciality.savePatientContext(payloadIndex)"
              (click)="insurance()"
            />
            <label for="insuranceBillQtn">
              <span class="check"></span>
              <span>Insurance/billing question</span>
            </label>
          </div>

          <div class="check-box">
            <input
              type="checkbox"
              id="newInsurance"
              name="newInsurance_{{ scriptMedId }}"
              [(ngModel)]="
                speciality.patientsPayload[payloadIndex].callMeReasons
                  .newInsurance
              "
              (change)="
                speciality.savePatientContext(payloadIndex);
                newInsurance($event)
              "
            />
            <label for="newInsurance">
              <span class="check"></span>
              <span>New insurance</span>
            </label>
          </div>
        </div>

        <div
          class="mt-3"
          *ngIf="
            speciality.patientsPayload[payloadIndex].clinical_review
              .assistance == 'yes'
          "
        >
          <p>
            <strong>Prescriptions</strong>
          </p>

          <div class="check-box">
            <input
              type="checkbox"
              id="prescNotVisible"
              name="prescNotVisible_{{ scriptMedId }}"
              [(ngModel)]="
                speciality.patientsPayload[payloadIndex].callMeReasons
                  .prescNotVisible
              "
              (change)="speciality.savePatientContext(payloadIndex)"
              (click)="presnotVisible()"
            />
            <label for="prescNotVisible">
              <span class="check"></span>
              <span>Prescription not visible</span>
            </label>
          </div>

          <div class="check-box">
            <input
              type="checkbox"
              id="prscQty"
              name="prscQty_{{ scriptMedId }}"
              [(ngModel)]="
                speciality.patientsPayload[payloadIndex].callMeReasons.prscQty
              "
              (change)="speciality.savePatientContext(payloadIndex)"
              (click)="presQuantity()"
            />
            <label for="prscQty">
              <span class="check"></span>
              <span>Prescription quantity</span>
            </label>
          </div>

          <div class="check-box">
            <input
              type="checkbox"
              id="prescChange"
              name="prescChange_{{ scriptMedId }}"
              [(ngModel)]="
                speciality.patientsPayload[payloadIndex].callMeReasons
                  .prescChange
              "
              (change)="speciality.savePatientContext(payloadIndex)"
              (click)="presChange()"
            />
            <label for="prescChange">
              <span class="check"></span>
              <span>Prescription change</span>
            </label>
          </div>

          <div class="check-box">
            <input
              type="checkbox"
              id="reqDiffPresc"
              name="reqDiffPresc_{{ scriptMedId }}"
              [(ngModel)]="
                speciality.patientsPayload[payloadIndex].callMeReasons
                  .reqDiffPresc
              "
              (change)="
                speciality.savePatientContext(payloadIndex);
                reqDiffPresc($event)
              "
            />
            <label for="reqDiffPresc">
              <span class="check"></span>
              <span>Request a different prescription</span>
            </label>
          </div>
          <div class="mt-2">
            <p>
              <strong>Pharmacy Staff</strong>
            </p>
            <div class="check-box">
              <input
                type="checkbox"
                id="pharmacistcontact"
                name="cr__pharmacist-contact_{{ scriptMedId }}"
                [(ngModel)]="
                  speciality.patientsPayload[payloadIndex].clinical_review
                    .pharmacistcontact
                "
                (change)="speciality.savePatientContext(payloadIndex)"
                (click)="pharmacistQuestionGAEvent($event)"
              />
              <label for="pharmacistcontact">
                <span class="check"></span>
                <span>Pharmacist question</span>
              </label>
            </div>
          </div>
          <div
            class="col-md-12"
            *ngIf="
              speciality.patientsPayload[payloadIndex].clinical_review
                .pharmacistcontact != ''
            "
          >
            <p>
              OK. We'll contact you by the end of the next business day. Or, you
              can call us directly at
              <span class="d-none d-sm-inline-block">855-244-2555.</span>
              <span class="d-sm-none">
                <a title="855-244-2555" href="tel:855-244-2555">855-244-2555</a
                >.</span
              >
            </p>
            <p>
              <strong
                >If this is a medical emergency, please contact your healthcare
                provider or emergency services.</strong
              >
            </p>
          </div>

          <form class="form__on-light-bg mt-4">
            <div class="form__input">
              <span class="input__text-area">
                <label class="input__title" for="notes"
                  >Please enter your questions for the Pharmacy here</label
                >
                <textarea
                  name="notes_{{ scriptMedId }}"
                  id="notes"
                  [(ngModel)]="
                    speciality.patientsPayload[payloadIndex].callMeReasons.notes
                  "
                  placeholder=""
                  (change)="speciality.savePatientContext(payloadIndex)"
                ></textarea>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div class="" *ngIf="checkoutService.error_state.cleansed">
        <p
          class="input__error-text"
          *ngIf="
            speciality.patientsPayload[payloadIndex].clinical_review
              .assistance == ''
          "
        >
          Please select a response
        </p>
      </div>
    </div>
    <p class="mt-5 fs-14 col-md-12 margin_align">
      Based on your above responses, or your insurance benefits, we may need to
      call you to gather additional information before shipping your medication.
    </p>
  </div>
</div>
