<div class="row">
  <div class="col-md-12 bg-white resetPassword-form">
    <form [formGroup]="resetPasswordForm" class="form__on-light-bg">
      <h1 class="h1__page-title text-center"> Reset your password </h1>
       <arxrf-loader [show]="showLoader" message="Loading..." [loaderOverlay]="true"></arxrf-loader>
      <p class="mt-4 mb-3">Please enter your username.</p>

      <div class="input__contain">
        <input
          class="input__focus"
          [ngClass]="{
            'input__error': resetPasswordForm.controls.username.invalid && resetPasswordForm.controls.username.dirty
          }"
          type="text" 
          formControlName="username" 
          id="username" >
        <label class="input__title" for="username"><span>Username/Email</span></label>
      </div>
      <div class="input__error-text" aria-live="assertive" role="alert" *ngIf="resetPasswordForm.controls.username.invalid && resetPasswordForm.controls.username.dirty">
        <span *ngIf="resetPasswordForm.controls.username.errors.required"><span class="sr-only">Error </span>Please enter username.</span>
      </div>

      <div class="row mt-4 align-items-center">                
        <div class="col-12 col-md-7 text-right">
          <a class="forgotBtn" href="{{routes.forgotUsername.publicUrl}}">Forgot username?</a>
        </div>
        <div class="col-12 col-md-5 text-right">
            <button class="btn btn_primary submitBtn" (click)="resetPasswordMs();">Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-md-12 text-center mt-4">
  <arxrf-reg-option [showContact]="true"></arxrf-reg-option>
</div>
