$xs-screen: 320px;
$sm-screen: 480px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

.btn:disabled{
    opacity: 1;
  }

  .resetPassword-form{
    padding: 3em;
    border-radius: 5px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .submitBtn {
    width: 170px;
  }

@media only screen and (min-device-width: $xs-screen) and (max-device-width: $sm-screen) {
  .resetPassword-form{
    padding: 2em;
  
    .submitBtn, .forgotBtn{
      width: 100%;
    }
    .forgotBtn{
      margin-bottom: 10px;
    }
  }
}

.input__contain .input__title {
  text-transform: capitalize;
}