<div class="container no-container-mobile">
  <div class="row">
    <div class="col-md-12 justify-content-center align-items-center">
      <div class="containerWidth">
        <div class="row">
          <div class="arx-logo">
            <arxrf-logo></arxrf-logo>
          </div>
        </div>
        <div class="row">
          <div class="message-wrapper">
            <arxrf-message></arxrf-message>
          </div>
        </div>
        <div>
        <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
