.detailLabel{
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 5px;
}
strong.detailLabel{
    font-size: 22px;
}

.invitation-details{
    margin: 40px 0;
    strong.detailLabel{
        font-size: 18px;
    }
}

.module__heading {
    font-size: 28px;
}
