<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 page-title">
      <h1 class="h1__page-title title-prescription text-center col"> Thank you. We received your request.</h1>
      <h1 class="h1__page-title text-center sub-title col">A confirmation email has been sent to
        <span>{{useremail}}</span></h1>
    </div>
    <div class="col-lg-12 p0">
      <span class="print-icon" (click)="print()"><svg alt="" width="80" height="80">
          <use
            xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__print">
          </use>
        </svg></span><span class="print-text" (click)="print()">Print</span>
    </div>
  </div>
  <section class="order-info" id="print-section">
    <div class="meta-details">
      <div class="row">
        <div class="shipping-details col-md-12">
          <div>
            <h2 class="Home-Delivery">Home Delivery</h2>
          </div>
          <div *ngIf="pca_flow">
            <h3 class="home-detailsnew">Patient Information</h3>
            <ul class="precription-list-first">
              <li>Patient: <span>{{patientdetails.patientName}}</span></li>
              <li>Phone: <span>{{patientdetails.patientPhoneNumber}}</span></li>
              <li>Date of birth: <span>{{patientdetails.patientDOB}}</span></li>
              <li>Email address: <span>{{patientdetails.patientEmail}}</span></li>
            </ul>
          </div>
          <div class="shipping-address">
            <h3 class="home-detailsnew">Prescriptions</h3>
            <ul class="home-details">
              <li *ngIf="!pca_flow">Patient: <span>{{patientdetails.patientName}}</span></li>
              <li>Pharmacy name: <span>{{pharmacydetails.pharmacyName}}</span></li>
              <li>Pharmacy Phone number: <span>{{pharmacydetails.pharmacyPhoneNumber}}</span></li>
            </ul>
            <ul class="precription-list" *ngFor="let prescription of prescriptiondetails">
              <li>Prescription name: <span>{{prescription.prescriptionName}}</span></li>
              <li>Prescription number: <span>{{prescription.rxNumber}}</span></li>
            </ul>
          </div>
          <div class="shipping_address">
            <h3 class="home-detailsnew">Shipping Address</h3>
            <ul class="shipping-list">
              <li>{{patientdetails.patientAddress}}</li>
              <li>{{patientdetails.patientCity}}, {{patientdetails.patientState}} {{patientdetails.patientZip}}</li>
            </ul>
          </div>
          <div class="shipping_method">
            <h3 class="home-detailsnew">Shipping method</h3>
            <p class="home_standard">Standard (FREE)</p>
            <ul class="shipping-add">
              <li>5-10 business days.</li>
              <li>Request requires additional processing time. Once authorized, your order will be shipped for free. If
                you require expedited or overnight shipping, please call Home Delivery Pharmacy at 877-787-3047.</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </section>

</div>