.account__healthinfo {
  background: #fff;
  width: 100%;
}
.healthinfo__heading {
  font-size: 1.5em;
  font-family: HelveticaNeueLTW01-45Light;
}

.heading{
  font-size: 28px;
  color: #404040;
  font-weight: normal;
  font-family: HelveticaNeueLTW01-45Light;
}

.healthinfo_container {
  padding: 1em 0em;
}

.healthinfo__display {
  .item {
    padding: 1em 0em;
  }
}

.healthinfo_main {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.insurance__header {
  margin-top: 16px;
  width: 100%;
  h3 {
    line-height: 2.5em;
  }
  span.icon {
    min-width: 70px;
    min-height: 70px;
  }
  .icon__insurance{
    display: block;
    margin: 0 auto;
  }
}

.insuranceInfo__addControls {
  a {
    line-height: 3em;
  }
}

.addInsuranceBtn{
  width: 100%;
  margin-top: 20px;
}

.form__input .input__title span {
  text-transform: capitalize;
}
.insuranceInfo__addControls .secondary{
  max-width: 100px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .btn_primary {
    width: 100%;
  }
  .insuranceInfo__addControls .secondary {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
  }
  .healthinfo_main {
    padding: 0em;
  }
}

.input__title{
  white-space: nowrap;
}

.btn__pair a{
  text-decoration: none;
}

@media screen and (max-width: 480px){
  .editIns{
    text-align: center;
    display: block;
    padding-bottom: 15px;
  }
}

fieldset legend {
  display: none;
}
