<div class="row newPasswordContainer">
  <div class="col-md-12 bg-white reg-form p-5">
    <form [formGroup]="newPasswordForm" class="form__on-light-bg">
      <h1 class="h1__page-title text-center"> Create a new password </h1>        

       <arxrf-loader [show]="showLoader" [loaderOverlay]="overlayLoader" message="Loading..."></arxrf-loader>

       <div> 
          <p class="text-sm-left"><strong>Password requirements:</strong></p>
          <div>
            <ul class="list__disc list__style">
              <li>Can’t match current password</li>
              <li>At least 8 characters</li>
              <li>At least 1 number and 1 letter</li>
              <li>Can’t be the same as your name, username or email</li>
              <li>Can’t be a commonly used or at-risk password</li>
              <li>Case sensitive</li>          
            </ul>
          </div>  
      </div>
      <div class="row__padding">
        <div class="input__contain">
          <input
            class="input__focus"
            [ngClass]="{
              'input__error': newPasswordForm.controls.password.invalid && (newPasswordForm.controls.password.touched || newPasswordForm.controls.password.dirty)
            }"
            type="{{inputType}}" 
            formControlName="password" 
            id="password" 
            required 
            (keyup)=checkPasswordCheck($event) >
          <label class="input__title" for="password"><span>Password</span></label>
        </div>
      </div>

      <div class="input__error-text" *ngIf="newPasswordForm.controls.password.invalid && (newPasswordForm.controls.password.touched || newPasswordForm.controls.password.dirty)">
        <span *ngIf="newPasswordForm.controls.password.errors.required">Password is required.</span>
      </div>
      <span class="input__error-text">{{passwordCheckMessage}}</span>
      <div class="check-box">
        <input type="checkbox" name="showpassword" (change)="checkboxFlag($event)">
        <label><figure class="check"></figure><span>Show password</span></label>
      </div>


      <div class="mt-5">
        <button class="btn btn_primary float-right" [ngClass] = "{'btn__disabled' : saveButtonHighlights}" (click)="saveNewPassword();">Save</button>
      </div>
    </form>
  </div>
</div>
