.newPasswordContainer {
  .h1__page-title{
    margin-bottom: 40px;
  }
  .tool-tip{
    top: 9px;
  }
  .input__title {
    text-transform: capitalize;
  }
  .list__style{
    padding-left: 8%;
  }

  .row__padding{
    padding-top: 22px;
  }

}
