<div class="row">
  <div class="col-md-12 bg-white retrieve-username-form">
      <h1 class="h1__page-title text-center mb-4">
        <span class="icon icon__info color__green">
         <svg alt=""><use xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__check"></use></svg>
        </span>

        It’s on the way.
      </h1>
    <p class="mt-3 mailSentMsg">Check your inbox. You should see an email from <span>AllianceRx Walgreens Prime</span> with your username and sign in instructions. Please allow up to 2 hours for the email to arrive.</p>
      <div class="mt-5">
        <button class="btn btn_primary float-right signInbtn" routerLink="/login">Sign In</button>
      </div>
      <div class="float-sm-right text-center p-3">
        <a href="javascript:void(0);" class="forgotPassLink" routerLink="/password">Forgot password?</a>
      </div>
  </div>
</div>
