.notifications_detail-info {
  padding: 2em 0em;
  border-bottom: solid 1px #cfcfcf;
}

.notifications_detail-subject {
  margin: 1em 0em;
}

.notifications_detail {
  border-radius: 5px;
  background-color: #ffffff;
  padding:4em;
  margin: 2em 0em;
}

.delete__action {
  width: 100%;
}
