<div class="row bg-white">
  <div class="container">
    <div class="col-md-12">
      <arxrf-account-refillinfo (memberSwitch)="notifications.refreshMessages()"></arxrf-account-refillinfo>
    </div>
  </div>
</div>

<div class="row bg-white pt-4">
  <div class="container">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <ul class="tabs" role="tablist">
        <li role="presentation" (click)="gotoSettings()">
          <a href="javascript:void(0)" role="tab"><strong>Settings</strong></a>
        </li>
        <li class="selected" role="presentation">
          <a href="javascript:void(0)" role="tab"><strong>Messages {{ (siteKey === SITEKEY.arxKey) ? '('+notifications.unread_count+')' : ''}}</strong></a>
        </li>

      </ul>
    </div>

  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-12">
      <arxrf-message></arxrf-message>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-12">
      <div class="row notifications__container">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
