.fm_access-content {
  border-bottom: solid 1px #cfcfcf;
  padding-bottom: 2em;
}
.fm_access-list {
  .fm_access-item {
    padding: 2em 0em;
    border-bottom: solid 1px #cfcfcf;
  }
}

.remove_access_model_btn {
  width: 258px;
}

arxrf-google-places {
  width: 100%;
}

.form__input .input__title span {
  text-transform: capitalize;
}
