<div class="row">
  <div class="rx__cc-container col-12">
      <div class="row">
      <div class="col-12">
        <a href="{{backUrl}}">
          < back to prescription review</a>
      </div>
      <div class="col-12 col-md-6">
        <form [formGroup]="newCardForm" class="form__on-light-bg pr-md-0">

          <h2>Card Information</h2>

          <div class="form__input">
      <span class="input__contain">
        <input
          class="input__focus"
          [ngClass]="{
            'input__error': newCardForm.controls.firstName.invalid && (newCardForm.controls.firstName.touched || newCardForm.controls.firstName.dirty)
          }"
          type="text" 
          formControlName="firstName" 
          id="firstName" 
          required>
        <label class="input__title" for="firstName">
          <span>First Name</span>
        </label>
      </span>
          </div>
          <div class="input__error-text" aria-live="assertive" role="alert" 
          *ngIf="newCardForm.controls.firstName.invalid && (newCardForm.controls.firstName.touched || newCardForm.controls.firstName.dirty)">
            <span *ngIf="newCardForm.controls.firstName.errors.required"><span class="sr-only">Error </span>First name is required.</span>
            <span *ngIf="newCardForm.controls.firstName.errors.pattern">Please enter valid first name.</span>
          </div>


          <div class="form__input">
      <span class="input__contain" >
        <input
          class="input__focus"
          [ngClass]="{
            'input__error': newCardForm.controls.lastName.invalid && (newCardForm.controls.lastName.touched || newCardForm.controls.lastName.dirty)
          }"
          type="text" 
          formControlName="lastName" 
          id="lastName" 
          required>
        <label class="input__title" for="firstName">
          <span>Last Name</span>
        </label>
      </span>
          </div>

          <div class="input__error-text" aria-live="assertive" role="alert"
          *ngIf="newCardForm.controls.lastName.invalid && (newCardForm.controls.lastName.touched || newCardForm.controls.lastName.dirty)">
            <span *ngIf="newCardForm.controls.lastName.errors.required"><span class="sr-only">Error </span>Last name is required.</span>
            <span *ngIf="newCardForm.controls.lastName.errors.pattern">Please enter valid last name.</span>
          </div>


          <div class="form__input">
      <span
        class="input__contain" 
        #ccNumber
        >
        <!--<input type="text" formControlName="cardNumber" id="cardNumber" placeholder="xxxx xxxx xxxx xxxx" [specified-input]="newCardForm.controls.cardNumber" invalidExp="[^0-9 ]" [credit-card-number]="newCardForm.controls.cardNumber">-->
        <arxrf-input-ccnumber
          [showErrorState]="newCardForm.controls.cardNumber.invalid && (newCardForm.controls.cardNumber.touched || newCardForm.controls.cardNumber.dirty)"
          name="ccNumber" 
          label="Credit Card Number" 
          [isFocus]="false"  
          formControlName="cardNumber" 
          (onCCChange)="updateCCType($event)" >
        </arxrf-input-ccnumber>
      </span>
          </div>

          <div class="input__error-text" *ngIf="newCardForm.controls.cardNumber.invalid && (newCardForm.controls.cardNumber.touched || newCardForm.controls.cardNumber.dirty)">
            <span *ngIf="newCardForm.controls.cardNumber.errors.required">Credit Card Number is required.</span>
            <span *ngIf="newCardForm.controls.cardNumber.errors.invalidType">This card is not supported. Please contact on helpline</span>
            <span *ngIf="newCardForm.controls.cardNumber.errors.validcc">Please enter valid credit card number.</span>
          </div>



          <div class="form__input col-md-6 p-0">
            <span class="input__contain">
              <input 
                class="input__focus"
                [ngClass]="{
                  'input__error': newCardForm.controls.expDate.invalid && (newCardForm.controls.expDate.touched || newCardForm.controls.expDate.dirty)
                }"
                type="text" 
                formControlName="expDate" 
                id="expDate" 
                placeholder="MM/YY" 
                maxlength="5" 
                [creditCardExpiry]="newCardForm.controls.expDate" 
                required>
              <label class="input__title" for="expDate">
                <span>Expiration date</span>
              </label>
            </span>
          </div>

          <div class="input__error-text" aria-live="assertive" role="alert"
          *ngIf="newCardForm.controls.expDate.invalid && (newCardForm.controls.expDate.touched || newCardForm.controls.expDate.dirty)">
            <span *ngIf="newCardForm.controls.expDate.errors.required"><span class="sr-only">Error </span>Expiration date is required.</span>
            <span *ngIf="newCardForm.controls.expDate.errors.pattern || newCardForm.controls.expDate.errors.validDate">Please enter valid Expiration date.</span>
          </div>

          <h2 class="billing-address">Billing Address</h2>

          <div class="check-box">
            <input type="checkbox" id="sameAsShipping" tabindex="0" formControlName="sameAsShipping" (change)="setBillingAddress($event)">
            <label for="sameAsShipping">
              <span class="check"></span>
              <span>Same as shipping address</span>
            </label>
          </div>

          <div class="form__input">
      <span class="input__contain" >
        <input
          class="input__focus"
          [ngClass]="{
            'input__error': newCardForm.controls.street1.invalid && (newCardForm.controls.street1.touched || newCardForm.controls.street1.dirty)
          }"
          type="text" 
          formControlName="street1" 
          id="street1" 
          >
        <label class="input__title" for="street1">
          <span>Street address 1</span>
        </label>
      </span>
          </div>

          <div class="input__error-text" aria-live="assertive" role="alert"
          *ngIf="newCardForm.controls.street1.invalid && (newCardForm.controls.street1.touched || newCardForm.controls.street1.dirty)">
            <span *ngIf="newCardForm.controls.street1.errors.required || newCardForm.controls.street1.errors.whitespace"><span class="sr-only">Error </span>Primary address is required.</span>
          </div>

          <div class="form__input">
      <span class="input__contain">
        <input class="input__focus" type="text" formControlName="street2" id="street2" [ngClass]="{
          'optionalFieldEmpty': !newCardForm.controls.street2.value.length
        }">
        <label class="input__title" for="street2">
          <span>Street address 2 (optional)</span>
        </label>
      </span>
          </div>


          <div class="form__input">
      <span class="input__contain">
        <input
          class="input__focus"
          [ngClass]="{
            'input__error': newCardForm.controls.city.invalid && (newCardForm.controls.city.touched || newCardForm.controls.city.dirty)
          }"
          type="text" 
          formControlName="city" 
          id="city" 
          required>
        <label class="input__title" for="city">
          <span>City</span>
        </label>
      </span>
          </div>

          <div class="input__error-text" aria-live="assertive" role="alert"
          *ngIf="newCardForm.controls.city.invalid && (newCardForm.controls.city.touched || newCardForm.controls.city.dirty)">
            <span *ngIf="newCardForm.controls.city.errors.required"><span class="sr-only">Error </span>City is required.</span>
            <span *ngIf="newCardForm.controls.city.errors.pattern || newCardForm.controls.city.errors.minLength">Please enter valid city name.</span>
          </div>

          <div class="row no-gutters form__input expiry_zip_container">
            <div class="col-5">
        <span class="select__contain" [ngClass]="{
          'input__error': newCardForm.controls.state.invalid && (newCardForm.controls.state.touched || newCardForm.controls.state.dirty)
        }">
          <label for="select-dropdown">State</label>
          <span class="icon icon__arrow-down">
            <svg alt=""><use xlink:href="/modules/alliancerx-www-components/javascript/angular/refillHub/assets/images/icons/symbol-defs.svg#icon__arrow-down"></use></svg>
          </span>

          <select formControlName="state" required>
              <option value="" class="" selected>Select State</option>
              <option *ngFor="let state of STATE_US" value="{{state.short_name}}">
                {{state.name}}
              </option>
          </select>
      </span>
      <div class="input__error-text" aria-live="assertive" role="alert"
              *ngIf="newCardForm.controls.state.invalid && (newCardForm.controls.state.touched || newCardForm.controls.state.dirty)">
          <span *ngIf="newCardForm.controls.state.errors.required"><span class="sr-only">Error </span>State is required.</span>
      </div>
            </div>
            <div class="col-5 zip-code">
        <span class="input__contain">
          <input
            class="input__focus"
            [ngClass]="{
              'input__error': newCardForm.controls.zip.invalid && (newCardForm.controls.zip.touched || newCardForm.controls.zip.dirty)
            }"
            type="text" 
            formControlName="zip" 
            id="zip" 
            maxlength="5" 
            [specified-input]="newCardForm.controls.zip" 
            invalidExp="[^0-9]" 
            required>
          <label class="input__title" for="zip">
            <span>ZIP code</span>
          </label>
        </span>
              <div class="input__error-text" aria-live="assertive" role="alert"
              *ngIf="newCardForm.controls.zip.invalid && (newCardForm.controls.zip.touched || newCardForm.controls.zip.dirty)">
                <span *ngIf="newCardForm.controls.zip.errors.required"><span class="sr-only">Error </span>Zip code is required.</span>
                <span *ngIf="newCardForm.controls.zip.errors.pattern">Please enter valid zip code.</span>
              </div>
            </div>
          </div>


          <div class="check-box saveAsPrefered" *ngIf="!nocard">
            <input type="checkbox" id="saveAsPrefered" tabindex="0" formControlName="saveAsPrefered">
            <label for="saveAsPrefered">
              <span class="check"></span>
              <span>Save credit card as preferred payment</span>
            </label>
          </div>

        </form>

      </div>
    </div>
  </div>
  <div class="col-12 text-right rx__cc-footer">
    <button class="btn btn_primary" type="button" (click)="saveCardInfo()">Save</button>
  </div>

</div>
