.buyout_unlock_container {
  margin: 2em auto;
  max-width: 569px;

  .pp-unlock-form {
    padding: 2rem 6rem;
  }
}

.pill_image_container {
  img {
    width: 55%;
  }
}

.modal__content-contain.rx__history__model {
    background: #fff;
}
