.btn {
  @include themify($themes) {
    font-size: themed("btn_font_size");
    color: themed("btn_font_color");
    font-family: themed("open_sans_bold");
  }
}

.btn_primary {
  @include themify($themes) {
    font-family: themed("open_sans_bold");
    background: themed("btn_primary");
    color: themed("white_color");
    &:hover {
      background-color: themed("btn_primary_hover");
    }
  }
}

.btn_filter {
  @include themify($themes) {
    background: themed("btn_filter_bg");
    color: themed("btn_filter_color");
    &:hover {
      background: themed("btn_filter_bg_hover");
    }
  }
}

.btn_transaction_primary {
  @include themify($themes) {
    background-color: themed("btn_transaction_primary");
    color: #fff;
  }
}

.btn_light {
  @include themify($themes) {
    background-color: themed("btn_light");

    &:hover {
      background-color: themed("btn_light_hover");
    }
  }
}

.btn_request_refill_light {
  @include themify($themes) {
    background-color: themed("btn_request_refill_light");
  }
}

.btn__disabled {
  @include themify($themes) {
    background: themed("btn_disabled_bg");
    color: themed("btn_disabled_color");
  }
}

.btn__toggle {
  @include themify($themes) {
    background: themed("btn_toggle_bg");
  }
}

.btn__toggle.toggle__on {
  @include themify($themes) {
    background: themed("btn_toggle_on_bg");
  }
}

.btn__pair .btn_request_refill {
  @include themify($themes) {
    color: themed("white_color");
    background-color: themed("btn_transaction_primary");
  }
}

.btn__neutral {
  @include themify($themes) {
    background: themed("btn_neutral_bg");
    color: themed("btn_neutral_color");
    font-family: themed("open_sans_bold");
  }
}

.fm__home-footer .addAdultBtn, .addChildBtn {
  @include themify($themes) {
    font-size: themed("fm_home_btn_font_size");
  }
}
